<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.livequery.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.xhr-upload.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

